<!DOCTYPE html>
<%- include('../partials/head'); %>
    <body class="container">
        <%- include('../partials/header', {pagina:'Sobre'}); %>
            <main>
                <div class="jumbotron">
                    <h1>Sobre mim</h1>
                    <p>Oi sou Aline Hardt estudante de programação e estou aprendendo NODE</p>
                </div>
            </main>
        <%- include('../partials/footer'); %>
    </body>
</html>